@import "tailwindcss";

@layer utilities {
  .no-scrollbar {
    /* Hide scrollbar for Chrome, Safari, Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge, Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}